html {
  margin: 0px;
}
main {
  background-color: rgb(250, 243, 243);
  margin: 10px 5px;
  border: 3px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
header {
  text-align: center;
  line-height: 10px;
}
h1 {
  font-size: 3rem;
  font-family: fantasy;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  margin-bottom: 50px;
}
#header-info {
  font-size: 2rem;
  font-style: italic;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 50px;
}
@media (max-width: 750px) {
  header {
    line-height: 10px;
  }
  h1 {
    font-size: 1.7rem;
    margin-bottom: auto;
  }
  #header-info {
    font-size: 1.5rem;
  }
}
figure {
  text-align: center;
  background-color: rgba(216, 146, 146, 0.63);
  margin: auto;
  padding-top: 20px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  /* padding-top: 20px; */
  box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.48);
  border: 2px solid rgb(73, 73, 40);
}
#img-caption {
  padding-bottom: 10px;
  font-size: 1.25rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
@media (max-width: 1500px) {
  img {
    width: 70%;
  }
  #img-caption {
    font-size: 1rem;
    font-weight: 800;
  }
}
section {
  word-spacing: 7px;
  padding: 0px 15px 25px 10px;
}
#synopsis {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: cursive;
  text-decoration: underline;
  color: rgb(156, 99, 6);
}
p {
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(2, 73, 73);
}
@media (max-width: 900px) {
  #synopsis {
    font-size: 1.5rem;
    line-height: 30px;
  }
  p {
    font-size: 1rem;
  }
}
footer {
  margin: 0px 15px 25px 10px;
  text-align: center;
}
a {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 500;
}
a:hover {
  text-decoration: underline;
}
@media (max-width: 750px) {
  a {
    font-size: 2rem;
  }
}
